extends layout.pug

block content
  section#section
    h2= text
    if hint
      p
        i Indice: #{hint}
    a(href=`${id}?side=${sidetoShow}`)= sidetoShowDisplay
    br
    a(href='/cards') Next card
