extends layout.pug

block content
  section#section
    div#form2
      h2= text
      if hint
        p
          i Indice: #{hint}
    div#link
      a(href=`${id}?side=${sidetoShow}`)= sidetoShowDisplay
      a(href='/cards') Next card
