doctype html
html(lang='fr')
  head
    title ExpressJS tutorial : Flash Cards
  body
    
    header
      h1 Flash Cards
    
      include index.pug
      
    footer
      p App to help you to learn
