doctype html
html(lang='fr')
  head
    title ExpressJS tutorial : Flash Cards
    link(rel='stylesheet', href='/static/stylesheet/style.css')
  body
    include includes/header.pug
    if name
      h1#welcome Welcome #{name} ! 
      form(action='/goodbye', method='post')#goodbye
        button(type='submit') Goodbye
        
    block content
      
    include includes/footer.pug
    
